body{
    background-image: linear-gradient(to right,rgb(224, 224, 224,1), rgb(36, 217, 226,1), rgb(224, 224, 224,1));
}
.start-page{

    max-width: 20%;
    border-radius: 10px;
    border: solid black 3px;
    padding: 4%;
    padding-top: 2%;
    margin: 5% auto;
    text-align: center;
    box-shadow: 0 0 5px black;
}
button{
    display: block;
    position: relative;
    margin: 5% auto;
    text-decoration: none;
    border: black solid 2px;
    color: black;
    font-size: 1.5em;
    background-color: white;
    padding: 4% 8%;
    border-radius: 5px;
    box-shadow: 5px 10px 5px black;
}

button:active{
    box-shadow: 2.5px 7.5px 2.5px black;
    top: 4px;
    left: 2px;
}
#start-page-login-button{
    padding: 4% 11%;
}